body{
  align-items: center;
}

/* store glow */

.store{
position: relative;
height: 256px;
width: 720px;
display: inline-block;
overflow: hidden;
}
.sbutton{
  transition: all linear 0.9s;
}
img.sbuttonH{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.store:hover img{
  opacity: 0;
}
.store:hover img.sbuttonH{
  opacity: 1;
}

/* youtube glow */

.youtube{
position: relative;
height: 256px;
width: 720px;
display: inline-block;
overflow: hidden;
}
.ybutton{
  transition: all linear 0.9s;
}
img.ybuttonH{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.youtube:hover img{
  opacity: 0;
}
.youtube:hover img.ybuttonH{
  opacity: 1;
}

/* Discord glow */

.discord{
position: relative;
height: 256px;
width: 720px;
display: inline-block;
overflow: hidden;
}
.dbutton{
  transition: all linear 0.9s;
}
img.dbuttonH{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.discord:hover img{
  opacity: 0;
}
.discord:hover img.dbuttonH{
  opacity: 1;
}


body{
    background-image: url('./images/bgD.png');
    background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
