.store{
position: relative;
height: 256px;
width: 720px;
display: inline-block;
overflow: hidden;
}
.sbutton{
  transition: all inline 0.9s;
}
img.sbuttonH{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.store:hover img{
  opacity: 0;
}
.store:hover img.sbuttonH{
  opacity: 1;
}



.youtube{
position: relative;
height: 256px;
width: 720px;
display: inline-block;
overflow: hidden;
}
.ybutton{
  transition: all inline 0.9s;
}
img.ybuttonH{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.youtube:hover img{
  opacity: 0;
}
.youtube:hover img.ybuttonH{
  opacity: 1;
}


body{
  align-items: center;
}